/*********/
/*HEADER*/
/*********/

header {
    background-color: var(--color-amarillo);
    font-size: var(--paragraph);
    padding-bottom: 10px;
}

header .burger-menu {
    background-color: var(--color-celeste);
    border-radius: 5px;
    color: white;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 7px;
    width: 28px;
}

header .logo {
    width: 130px;
    padding-top: 25px;
    margin-bottom: 10px;
}

header p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}



.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login .input-login {
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 60%;
    border: none;
    outline: none;
    margin-top: 25px;
}

.logo-search-header {
    position: relative;
    left: 10px;
}

.search-div input {
    display: block;
}




/* Media Queries */
/* Tablet */
@media (min-width: 361px) {

}

/* Desktop */
@media (min-width: 769px) {

}